@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font: var(--default-font);

    --default-font: 18px 'Mulish', sans-serif;
}

body {
    position: relative;
}

#design-element-01 {
    position: absolute;
    width: 5vw;
    top: 160px;
    left: -.5vw;
}

a {
    text-decoration: none;
}

header {
    padding: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-img {
    font-style: bold;
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 41px;
    margin-right: 12px;
    background-color: #458FF6;
    border-radius: 100%;
}

#logo-title {
    font-size: 24px;
    font-weight: bold;
}

#nav-list ul {
    display: flex;
}

#nav-list li {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    color: #1F1534;
    opacity: 50%;
}

.nav-link.active {
    color: #000;
    opacity: 100%;
    font-weight: bold;
}

#website-content {
    margin-left: 50px;
    margin-right: 50px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.landing-img {
    max-width: 40vw;
}

.landing-side {
    max-width: 445px;
}

.landing-header {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 25px;
}

.landing-text {
    font-weight: lighter;
    font-size: 21px;
    color: #7D7987;
    margin-bottom: 45px;
}

.landing-btn {
    color: #fff;
    background-color: #458FF6;
    border-radius: 50px;
    height: 60px;
    width: 200px;
    cursor: pointer;
}